@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
body {
    overflow: hidden;
    font-family: 'League Spartan', sans-serif !important;
    background-color: rgb(233, 232, 232);
   
    color: rgb(255, 255, 255);
}
nav {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    height:100px !important;
    font-size: 24px !important;
    width:100vw !important;
    padding:40px !important;
    font-family: 'Merriweather', serif !important;
    /* background-color: rgb(111, 0, 255); */
    background-image: linear-gradient(150deg,rgb(108,190,221),rgb(248,131,150));
}
a {
    text-decoration: none !important;
    color: white !important;
}
#left-nav{
    font-size: 35px;
}
#right-nav {
    display: flex;
    margin-right: 30px;
    width: auto;
    padding: 0;
    justify-content: space-between;
    
}
section{
    width: 380px;
    margin: 0 auto;
}

#chat-box{
    color: black;
    height: 50vh;
    border: 2px solid #ccc;
    padding: 16px;
    
    margin-bottom: 10px;
    background-color: white;
}

ul{
    list-style: none;
}

li{
    background-color: rgba(120, 182, 204, 0.459);
    border-radius: 8px;
    border:1.5px solid #4778ffc4;
    margin:7px;
    padding: 10px 5px;
   
}

#chat-box{
    overflow-y: scroll;
}

#out {
    background-image: linear-gradient(150deg,rgb(255, 101, 101),rgb(250, 115, 138));
    border-radius: 5px;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 12%;
   font-size: 20px;
}
#out:hover {
    opacity: 0.7;
}
#send-btn {
    width: 90px;
    font-size: 18px;
    background-color: #487AFF ;
    border: 2px solid black ;
  
    font-weight: 800;
    color:white;
    padding: 3px;
}
#send-btn:hover {
    opacity: 0.7;
}

span{
    font-size: 42px;
  color:#487AFF;
  
  padding-right: 15px;
  font-family: 'Patrick Hand', cursive;
}